@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

  --forest-green: #2F5233;
  --sage: #A8BBA2;
  --terra-cotta: #D08C60;
  --cream-sand: #F5F1E6;
  --charcoal:  #333333;
  --brushed-gold: #C8B273;
  --burnished-copper: #B87333;
  --soft-silver: #C0C0C0;

  --background-c: var(--cream-sand);
  --primary-c:  var(--charcoal);
  --secondary-c:  var(--forest-green);

}


html, body {

  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  background: black;
  user-select: none;
}

nav {
  width:100%;
  height: 70px;
  padding:0 10px;
  background: var(--background-c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  z-index:1;
  box-shadow: 0 0 8px black;
}

#logo{
  height:80%;
  cursor: pointer;
}

.nav_list {

  display: flex;
  list-style: none;
  gap:15px;
  
}

aside{
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  right: -100%;
  flex-direction: column;
  z-index: 2;
  display: none;
  background-color: white;
  border: 1px solid var(--primary-c);
  transition: all ease-in 0.1s;
}

.asideOpen{
  right: 0;
  display: flex;
}

#close{
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  font-size: 1.5rem;
  color: var(--secondary-c);
}

.aside_list {

  display: flex;
  flex-direction: column;
  list-style: none;
  gap:15px;
  padding-top: 30px;
}

.nav_li a{
  text-decoration: none;
  color: var(--primary-c);
  font-weight: 500;
  font-family: 'Lato', serif;
  text-transform: uppercase;
  text-decoration-color: var(--primary-c);
  text-decoration-width: 200px;
}

.nav_li a:hover{
  text-decoration: underline;
  transition-delay: 3s;
}

.nav_right {
  display: flex;
  gap:25px;
  font-size:1.8rem;
  padding: 0 40px;
  color: var(--secondary-c);
  cursor: pointer;
}

.nav_right a{
  text-decoration: none;
  color: var(--primary-c);
}

.nav_right a:hover{
  color: var(--secondary-c);
}

#menu {
  display:none;
  font-size: 1.3rem;
}

#cart{
  text-decoration: underline;
  text-decoration-color: var(--primary-c);
  text-decoration-thickness: 3px;
}

#cartSide{
  text-decoration: underline;
  text-decoration-color: var(--secondary-c);
  text-decoration-thickness: 3px;
}

.heading{
  color: var(--primary-c);
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 5px 20px;
  font-size: 2rem;
  display: none;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--background-c);
  overflow: hidden;
}

.left {
  width: 65%;
  background-color: var(--background-c);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-height: 100vh;
  overflow-y: scroll;
}


.left::-webkit-scrollbar{
  width: 5px;
}

.left::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.left::-webkit-scrollbar-thumb{
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--primary-c);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

table{
  width: 100%;
  padding: 10px;
  table-layout: fixed;
  border-collapse: collapse;
}

tr{
  width: 100%;
}

th, td{
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.image i{
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

.image i:hover{
  color: red;
}

.product-details{
  font-size: 1rem;
  word-wrap: break-word;
  text-align: start;
}

.product-name{
  overflow: hidden;
  max-lines: 2;
  margin-bottom: 0;
  width: 100%;
  font-weight: 600;
     overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.product-id{
  margin-top: 0;
  font-size: 0.7rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.qtycontrol{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.qtycontrol input{
  width: auto;
  max-width: 45px;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

.qtycontrol input[type=number]::-webkit-inner-spin-button, 
.qtycontrol input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.qtycontrol p{
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-c);
}

.qtycontrol p:hover{
  background-color: var(--secondary-c);
}

.qty-btn{
}

#decrease{
  border-radius: 4px 0 0 4px;
  text-align: center;
}

#increase{
  border-radius: 0 4px 4px 0;
  text-align: center;
}

.product-img{
  width: 50%;
  max-width: 100px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid gray;
}

.tot-price{
  color: var(--burnished-copper);
  font-weight: 600;
  font-size: 1.2rem;
}

.tot-price::before{
  content: 'Rs.';
  font-size: 1rem;
}

.right {
  width: 35%;
  padding: 15px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  font-family: 'Lato', sans-serif;
}

.right::-webkit-scrollbar{
  width: 5px;
}

.right::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.right::-webkit-scrollbar-thumb{
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--primary-c);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.box{
  width: 100%;
  display: block;
}

.summary-box{
  width: 100%;
  display: block;
}

.summary-box h2,
.summary-box h3 {
  margin-bottom: 15px;
  color: var(--primary-c);
}

.headingSumm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingSumm i{
  font-size: 1.3rem;
  display: none;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  color: gray;
}
.total-price span:first-child {
  color: black;
  font-weight: bold;
}

.total-price span:last-child {
  color: var(--primary-c);
  font-weight: bold;
  font-size: 1.1rem;
  font-weight: 700;
}

.coupon-status {
  color: red;
  font-size: 13px;
}

.coupon-input {
  padding: 0;
  display: flex;
  align-items: center;
}

#coupon-input {
  text-transform: uppercase;
  width: 75%;
  height: 40px;
  padding: 0 10px;
  margin: 0;
  border: 1px solid lightgray;
  border-radius: 5px 0 0 5px;
}

.apply-btn {
  width: 25%;
  height: 42px;
  padding: 0;
  margin: 0;
  background-color: var(--primary-c);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.apply-btn:hover{
  background-color: var(--secondary-c);
}

.summary-box input,
.summary-box textarea {
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.address{
  display: flex;
  flex-direction: column;
}

.address h3{
  color: var(--primary-c);
}

textarea {
  resize: none;
  height: 60px;
  font-family: 'Poppins', sans-serif;
}

.payment-options {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;              /* Space between each label */
  justify-content: space-evenly;  /* or center, or space-between */
  align-items: center;
  margin-bottom: 20px;
}

.payment-options input[type="radio"] {
  display: none;
}

.payment-options label {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.payment-options input[type="radio"]:checked + .payment-icon {
  border: 2px solid var(--primary-c); /* Orange border on selection */
  border-radius: 12px;
/* 
  -webkit-filter: drop-shadow(1px 1px 3px var(--secondary-c));
  filter: drop-shadow(1px 1px 3px var(--secondary-c)); */
}

.payment-icon {
  height: 60px;
  object-fit: contain;
  border: 1px solid lightgray; /* Default green */
  border-radius: 12px;
  padding: 4px;
  transition: border-color 0.3s;
}

.checkout-btn {
  width: 100%;
  background-color: var(--primary-c);
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(1px 1px 4px var(--secondary-c));
  filter: drop-shadow(1px 1px 4px var(--secondary-c));
  transition: filter ease 0.2s;
}

.checkout-btn:hover{
  background-color: var(--secondary-c);
  -webkit-filter: drop-shadow(2px 2px 10px var(--secondary-c));
  filter: drop-shadow(2px 2px 10px var(--secondary-c));
}

#toast {
  display: none;
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translate(-50%);
}

#toast.show {
  display: block;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.error{
  background-color: var(--background-c);
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 2vw;
  height: auto;
  min-height: 40vh;
  padding: 10% 0;
}

.open{
  display: flex;
}

.error img {
  width: 25%;
  background-color: var(--background-c);
  aspect-ratio: 1/1;
}


.error h2{
  font-family: 'Poppins', sans-serif;
  color: var(--primary-c);
  padding: 0;
  background-color: var(--background-c);
  margin: 0;
  text-align: center;
}

footer{
  background-color: var(--background-c);
  font-family: 'Lato', sans-serif;
  padding: 25px 10px;
  display: block;
}

.footerDetails{
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  gap: 10%;
  margin-bottom: 20px;
}

.footerLogo{
  padding: 25px 10px;
}

.footerLogo img{
  height: 50px;
}

.footerLinks{
  display: flex;
  gap: 30px;
  justify-content: start;
}

.social{
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: start;
}

.social p{
  margin: 0;
  padding: 0;
  pointer-events: none;
  color: var(--primary-c);
  font-weight: 800;
  font-size: 1.1rem;
}

.social a, .footerEnd a{
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-c);
}

.social a:hover{
  text-decoration: underline;
}

 .footerEnd a:hover{
  text-decoration: underline;
}

.footerEnd{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.documents{
  display: flex;
  gap: 10px;
}



.built{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: var(--background-c);
  border-bottom: 1px solid lightgray;
}

.built h1{
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #bbbbbb9f;
}

.builtText{
  color: #bbbbbb9f;
  font-weight: 800;
  display: flex;
  font-family: 'Lato', sans-serif;
  gap: 5px;
  align-items: end;
}

.builtText i{
  color: deeppink;
  font-size: 1.2rem;
  font-weight: 800;
  font-style: normal;
  padding: 0 5px;
}


.load{
  opacity: 0;
  display: none;
  animation: fadeOut 1s ease-in;
}

.load.openLoader{
  opacity: 1;
  display: flex;
  animation: fadeIn 1s ease-in; 
}

#loader{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

#loader p{
  margin: 0;
  color: white;
  padding: 0 15px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#loader h1{
  color: white;
  font-family: 'Lato', sans-serif;
}

.loader {
  position: relative;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-image: linear-gradient(orange, orange),
  linear-gradient(gray, gray), linear-gradient(lightgray, lightgray);
  background-size: 70% 100%, 3% 40%, 19% 75%;
  background-position: 0 0, 80px 15px, 70px 7px;
}

.loader::after {
  content: "";
  position: absolute;
  border-radius:50%;
  background:radial-gradient(farthest-side at bottom, yellow ,#0000);
  -webkit-mask:conic-gradient(from -35deg at bottom,#0000, #000 1deg 60deg, #0000 61deg);
  left: 25%;
  bottom: -25%;
  transform: rotateZ(90deg);
  z-index: -1;
  width: 150px;
  height: 70px;
  /* border-radius: 50%; */
  /* box-sizing: content-box; */
  /* border: 5px solid #000; */
  /* box-shadow: 60px 0 0 -5px #fff, 60px 0 #000; */
  /* animation: wheelSk 0.75s ease-in infinite alternate; */
}

.loader::before {
  content: "";
  position: absolute;
  right: 100%;
  height: 50px;
  width: 50px;
  background-image: linear-gradient(#eee 40px, #eee 40px), linear-gradient(#ccc 40px, #ccc 40px);
  background-repeat: no-repeat;
  background-size: 30px 5px;
  animation: lineDropping 1s linear infinite;
}

@keyframes wheelSk {
  0%, 50%, 100% { transform: translateY(0) }
  30%, 90% { transform: translateY(-3px) }
}

@keyframes fadeIn {
  0%{ 
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%{ 
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes lineDropping {
  0% {
    background-position: 100px 20px, 150px 20px;
    opacity: 1;
  }
  50% { background-position: 0px 20px, 50px 20px}
  60% { background-position: -30px 20px, 20px 20px}
  75%, 100% {
    background-position: -70px 20px, -30px 20px;
    opacity: 1;
  }
}



@media screen and (max-width: 550px) {

  .footerDetails{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {

  .footerLinks{
    flex-direction: column;
    align-items: center;
  }
  .social{
    align-items: center;
  }

  .footerEnd{
    flex-direction: column;
  }

}


@media (max-width: 830px) {

  .nav_list, #user, #cart{
    display: none;
  }

  #menu{
    display: block;
  }


  nav{
    height: 8%;
  }

  .container {
    width: 100%;
    height: 92%;
    display: block;
  }

  .left{
    width: 100%;
    height: 90%;
    display: flex;
  }

  .right{
    width: 100%;
    height: 100%;
    padding: 0;
    box-shadow: 1px 2px 10px black;
  }

  .headingSumm {
    padding: 0 10px;
    margin-bottom: 15px;
    -webkit-filter: drop-shadow(1px 1px 1px var(--primary-c));
    filter: drop-shadow(1px 1px 1px var(--primary-c));
  }

  .headingSumm h2{
    font-size: 1.2rem;
  }

  .headingSumm i{
    display: block;
  }

  .openMenu{
    display: none;
  }

  .box{
    padding: 10px;
  }

  .summary-box{
    width: 100%;
    display: none;
    transition: display ease 5s;
  }

  .payment-icon{
    height: 45px;
  }

  .shipping {
    height: auto;
  }

}



@media screen and (max-width: 800px){

  .nav_list, #user, #cart{
    display: none;
  }

  #menu{
    display: block;
  }

  .categories{
    overflow-x: scroll;
    justify-content: start;
  }

  .categories ul{
    flex-wrap: nowrap;
  }

  .error img{
    width: 50%;
  }

  .built h1{
    font-size: 1.5rem;
  }

  .builtText{
    color: lightgrey;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.8rem;

  }

  .builtText i{
    color: red;
    font-size: 1rem;
  }

  .shipping {
    height: auto;
  }

}


@media screen and (max-width: 500px){

  #logo{
    height: 50%;
  }

  .drop i{
    display: none;
  }

  .built{
    margin: 0;
    padding: 30px 0;
  }

  .built h1{
    font-size: 3rem;
  }

  .builtText{
    font-size: 0.9rem;
  }

  .builtText i{
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px){
  
  #logo{
    height: 50%;
  }

  .product-name{
    font-size: 0.8rem;
  }

  th{
    font-size: 0.7rem;
  }

  .product-id{
    font-size: 0.8rem;
  }

  .qtycontrol p{
    display: none;
  }

  .image{
    gap: 5px;
  }

  .tot-price{
    font-size: 1rem;
    word-wrap: break-word;
  }

  .tot-price::before{
    font-size: 0.7rem;
  }

}


@media screen and (max-width: 350px){
  .product-name{
    font-size: 0.8rem;
  }

  .product-id{
    font-size: 0.8rem;
  }

  .qtycontrol input{
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
  }

  .qtycontrol p{
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
  }

  .tot-price{
    font-size: 0.8rem;
  }

}

