@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

  --forest-green: #2F5233;
  --sage: #A8BBA2;
  --terra-cotta: #D08C60;
  --cream-sand: #F5F1E6;
  --charcoal:  #333333;
  --brushed-gold: #C8B273;
  --burnished-copper: #B87333;
  --soft-silver: #C0C0C0;

  --background-c: var(--cream-sand);
  --primary-c:  var(--charcoal);
  --secondary-c:  var(--forest-green);

}


html, body {

  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  background: black;
  user-select: none;
}

nav {
  width:100%;
  height: 70px;
  padding:0 10px;
  display: flex;
  background-color: var(--background-c);
  justify-content: space-between;
  align-items: center;
  position:sticky;
  font-family: "Lato", serif;
  z-index:1;
}

#logo{
  height:80%;
  cursor: pointer;
}

.nav_list {

  display: flex;
  list-style: none;
  gap:15px;
  
}

aside{
  height: 100%;
  width: 60%;
  position: absolute;
  top: 0;
  right: -100%;
  flex-direction: column;
  z-index: 2;
  display: none;
  background-color: white;
  border: 1px solid var(--primary-c);
  transition: all ease-in 0.1s;
}

.asideOpen{
  right: 0;
  display: flex;
}


#close{
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  font-size: 1.5rem;
  color: var(--secondary-c);
}

.aside_list {

  display: flex;
  flex-direction: column;
  list-style: none;
  gap:15px;
  padding-top: 30px;
  
}

.nav_li a{
  text-decoration: none;
  color: var(--primary-c);
  font-weight: 500; 
  font-size:1rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-decoration-color: var(--primary-c);
  text-decoration-width: 200px;

}

.nav_li a:hover{
  text-decoration: underline;
  transition-delay: 3s;
}

.selected{
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.nav_right {
  display: flex;
  gap:25px;
  font-size:1.8rem;
  padding: 0 40px;
  color: var(--secondary-c);
  cursor: pointer;
}

.nav_right a{
  text-decoration: none;
  color: var(--primary-c);
}

.nav_right a:hover{
  color: var(--secondary-c);
}

#menu {
  display:none;
  font-size: 1.3rem;
}

.offer{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-c);
}

#offerText{
  margin: 0;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5rem;
  color: var(--background-c);
}

.links{
  background-color: var(--background-c);
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
}

.flow{
  display: flex;
}

.link {
  display: flex;
  align-items: start;
  gap: 5px;
}

.link a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  text-align: start;
  color: var(--primary-c);
}

.link a:hover{
  text-decoration: underline;
}

.link .arrow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow i{
  font-size: 1.2rem;
}


#toast {
  display: none;
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translate(-50%);
}

middle{
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
}

.left{
  flex: 0 0 50%;
  margin: 0;
  background-color: var(--background-c);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.imgCard{
  width: 90%;
  aspect-ratio: 1/1;
  margin: 20px 15px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.product-image{
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transition: transform ease 0.5s;
}

.product-image:hover{
  transform: scale(1.1);
}

.right{
  flex: 0 0 50%;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.title{
  word-wrap: break-word;
  font-size: 1.5rem;
}

.product-details{
  width: 90%;
  padding: 15px;
  font-family: 'Lato', sans-serif;
}

.price {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--burnished-copper);
}

#prdPrice{
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

#discountPrice{
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

#discountPrice::before{
  content: 'Rs.';
}

.description{
  color: gray;
}

.size-options{
  display: flex;
  gap: 10px;
}
.size-options label {
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}


.size-options label p{
  display: flex;
  background-color: white;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}


.size-options label input[name='size-radio']{
  display: none;
}

.size-options input[name="size-radio"]:checked +  p{
  border: 2px solid var(--primary-c);
}


.size-options label p {
  border: 2px solid lightgray;
  transition: border-color 0.3s;
  cursor: pointer;
}

.qtycontrol{
  display: flex;
  margin: 15px 0;
  border-radius: 5px;
/*   -webkit-filter: drop-shadow(1px 1px 4px var(--secondary-c));
  filter: drop-shadow(1px 1px 4px var(--secondary-c)); */
}

.qtycontrol input{
  width: 50px;
  height: 35px;
  margin: 0;
  padding: 0;
  border: 1px solid var(--primary-c);
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.qtycontrol input[type=number]::-webkit-inner-spin-button, 
.qtycontrol input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.qtycontrol button{
  width: 35px;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  background-color: var(--primary-c);
  border: none;
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
  cursor: pointer;
  text-align: center;
}

.qtycontrol button:hover{  
  background-color: var(--secondary-c);
}

#decrease{
  border-radius: 4px 0 0 4px;
}

#increase{
  border-radius: 0 4px 4px 0;
}


.add-cart {
  width: 100%;
  background-color: var(--primary-c);
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin: 20px 0;
  -webkit-filter: drop-shadow(1px 1px 4px var(--secondary-c));
  filter: drop-shadow(1px 1px 4px var(--secondary-c));
  transition: filter ease 0.2s;
}

.add-cart:hover{
  background-color: var(--secondary-c);
  -webkit-filter: drop-shadow(2px 2px 10px var(--secondary-c));
  filter: drop-shadow(2px 2px 10px var(--secondary-c));
}

#addToCartLoader{
  display: none;
  width: 100%;
}

.addcartload{
  width: 100%;
  background-color: var(--primary-c);
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  -webkit-filter: drop-shadow(1px 1px 4px var(--secondary-c));
  filter: drop-shadow(1px 1px 4px var(--secondary-c));
  transition: filter ease 0.2s;
}

.custom-loader {
  width:12px;
  height:12px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 20px 0 #ffffff22, -20px 0 #ffffff;
  animation:d5 1s infinite linear alternate;
}

@keyframes d5 {
    0% {box-shadow: 20px 0 #ffffff,-20px 0 #ffffff22; background: #ffffff}
    33%{box-shadow: 20px 0 #ffffff,-20px 0 #ffffff22; background: #ffffff22}
    66%{box-shadow: 20px 0 #ffffff22,-20px 0 #ffffff; background: #ffffff22}
}

.heading{
  background-color: var(--background-c);
  margin: 0;
  color: var(--primary-c);
  text-align: center;
  padding: 2% 20px;
  font-family: 'PlayFar Display', serif;
  font-size: 2rem;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--background-c);
  padding-bottom: 25px;
}

.products ul{
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.productCard {
  width: 100%;
  padding: 3px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.cardA {
  text-decoration: none;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card {
  width: 100%;
  height: 100%;
}

.cardImg {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--background-c);
}

.cardImageView {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardImageView:hover{
  transform: scale(1.05);
}

.cardText {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  padding: 10px 0;
}


.category {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  font-weight: 600;
  color: gray;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.productOffer{
  width: 50px;
  padding: 5px;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  animation:  offer 8s ease infinite;
}


@keyframes offer {
  0%, 75%{ 
    background-color: lightgreen;
    color: black;
  }
  35%, 100%{
    background-color: green;
    color: white;
  }
}

.title{
  margin: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-c);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
}

.priceSpan{
  padding: 10px 0;
  font-size: 0.7rem;
  color: grey;
  font-weight: 400;
  text-decoration: line-through;
  text-decoration-color: red;
}

.priceSpan::before{
  content: 'Rs.';
}

.price::before{
  content: 'Rs.';
  font-size: 1rem;
}

.cardA button {
  color: white;
  background-color: var(--primary-c);
  border: none;
  margin: 10px 0px;
  padding: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 5px;
}

.cardA button:hover{
  background-color: var(--secondary-c);
}

#toast.show {
  display: block;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.error{
  background-color: var(--background-c);
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open{
  display: flex;
}

.error img {
  width: 25%;
  aspect-ratio: 1/1;
}

.error h2{
  font-family: 'Lato', sans-serif;
  color: var(--primary-c);
  padding: 0;
  margin: 0;
  text-align: center;
}

footer{
  background-color: var(--background-c);
    font-family: 'Lato', sans-serif;
  padding: 25px 10px;
  display: block;
}

.footerDetails{
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  gap: 10%;
  margin-bottom: 20px;
}

.footerLogo{
  padding: 25px 10px;
}

.footerLogo img{
  height: 50px;
}

.footerLinks{
  display: flex;
  gap: 30px;
  justify-content: start;
}

.social{
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: start;
}

.social p{
  margin: 0;
  padding: 0;
  pointer-events: none;
  color: var(--primary-c);
  font-weight: 800;
  font-size: 1.1rem;
}

.social a, .footerEnd a{
  font-weight: 600;
  text-decoration: none;
  color: var(--primary-c);
}

.social a:hover{
  text-decoration: underline;
}

 .footerEnd a:hover{
  text-decoration: underline;
}

.footerEnd{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.documents{
  display: flex;
  gap: 10px;
}


.built{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-color: var(--background-c);
  border-bottom: 1px solid lightgray;
}

.built h1{
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #bbbbbb9f;
}

.builtText{
  color: #bbbbbb9f;
  font-weight: 800;
  display: flex;
  font-family: 'Lato', sans-serif;
  gap: 5px;
  align-items: end;
}

.builtText i{
  color: deeppink;
  font-size: 1.2rem;
  font-weight: 800;
  font-style: normal;
  padding: 0 5px;
}



@media screen and (max-width: 800px){

  .nav_list, #user, #cart{
    display: none;
  }

  #menu{
    display: block;
  }

  .categories{
    overflow-x: scroll;
    justify-content: start;
  }

  .categories ul{
    flex-wrap: nowrap;
  }

  .error img{
    width: 50%;
  }

  .built h1{
    font-size: 1.5rem;
  }

  .builtText{
    color: lightgrey;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.8rem;

  }

  .builtText i{
    color: red;
    font-size: 1rem;
  }

  .shipping {
    height: auto;
  }

}


@media screen and (max-width: 500px){

  #logo{
    height: 50%;
  }

  .drop i{
    display: none;
  }

  .built{
    margin: 0;
    padding: 30px 0;
  }

  .built h1{
    font-size: 3rem;
  }

  .builtText{
    font-size: 0.9rem;
  }

  .builtText i{
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {

  .footerDetails{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {

  .footerLinks{
    flex-direction: column;
    align-items: center;
  }
  .social{
    align-items: center;
  }

  .footerEnd{
    flex-direction: column;
  }

}

@media screen and (max-width: 1100px) {

  .products ul{
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 930px) {

  .products ul{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 730px) {

  .products ul{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {

  .products ul{
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .title{
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {

  .products ul{
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
}

@media (max-width: 830px) {

  .nav_list, #user, #cart{
    display: none;
  }

  #menu{
    display: block;
  }


  nav{
    height: 8%;
  }

  middle {
    width: 100%;
    display: block;
  }

  .left{
    width: 100%;
    display: flex;
  }

  .right{
    width: 100%;
    padding: 0;
  }

}
